.nav-link {
    position: relative;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: white;
}

.nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-link:hover::after {
    width: 100%;
}

.material-symbols-outlined {
    font-size: 24px;
    vertical-align: middle;
}

.navbar-nav .form-control {
    width: 180px;
}